<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{ character.name }}</mat-card-title>
  </mat-card-header>
  <img
    mat-card-image
    src="{{ character.thumbnail?.path }}.{{ character.thumbnail?.extension }} "
    alt="{{ character.name }}"
    class="cardImage"
  />

  <mat-card-content>
    <p class="description">
      {{ character.description }}
    </p>
  </mat-card-content>
  <mat-card-footer>
    <a href="{{ character.urls[0].url }}" target="_blank" fxFlex mat-flat-button color="primary"> Mais Detalhes </a>
  </mat-card-footer>
</mat-card>
