mat-progress-bar {
  width: 30vw;
  display: block;
  margin: auto;
}

.progress {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.logo {
  height: 15vh;
  display: block;
  margin: auto;
}

.title {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
