<div fxLayoutAlign="center">
  <mat-form-field class="search" appearance="standard">
    <mat-label class="searchLabel"> Buscar {{ label }} </mat-label>
    <input
      matInput
      type="search"
      placeholder="{{ placeholder }} "
      [(ngModel)]="keyWord"
    />
    <button
      *ngIf="keyWord"
      matSuffix
      mat-icon-button
      aria-label="Buscar"
      [disabled]="!keyWord"
      (click)="clearSearch()"
    >
      <mat-icon>close</mat-icon>
    </button>
    <button
      matSuffix
      mat-stroked-button
      aria-label="Buscar"
      [disabled]="!keyWord"
      (click)="search()"
      color="primary"
    >
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</div>
